[Desktop Entry]
Name=PhpStorm
Comment=The Lightning-Smart PHP IDE 
Exec=AppRun %U
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=phpstorm
Categories=Development;Office;
StartupWMClass=PhpStorm
StartupNotify=true
